@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /*---PRIMARY---*/
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --grean-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-red²: hsla(0, 100%, 67%, 10%);
    --orangey-yellow²: hsla(39, 100%, 56%, 10%);
    --grean-teal²: hsla(166, 100%, 37%, 10%);
    --cobalt-blue²: hsla(234, 85%, 45%, 10%);

    /*---GRADIENTS---*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /*---NEUTRAL---*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Hanken Grotesk";
    background-color: var(--white);
}

.component {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 630px;
    height: 450px;
    border-radius: 25px;
    box-shadow: 15px 15px 100px 0px #cccccc;
}

.subsection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.subsection:nth-child(1) {
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 25px;
}

h2, h3, h4, p, .circle, button {
    width: fit-content;
    height: fit-content;
    margin: 0px 40px;
    padding: 0px;
}

h4 {
    font-size: 24px;
}

.result-title {
    color: var(--light-lavender);
    margin-top: 40px;
}

.circle {
    background: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));
    border-radius: 100%;
    width: 18vh;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 62px;
    color: var(--white);
    font-weight: 800;
}

h5 {
    color: var(--light-lavender);
    font-size: 16px;
    font-weight: 500;
}

h1, h5 {
    margin: 0px;
}

h2 {
    color: white;
    font-size: 28px;
}

p {
    color: var(--light-lavender);
    text-align: center;
    margin-bottom: 40px;
}

.dark-h4 {
    margin: 0;
    margin-top: 40px;
    color: var(--dark-gray-blue);
    text-align: left;
    width: 235px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 52%;
    padding: 0px;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 235px;
    height: 50px;
}

.skills:nth-child(1) {
    background-color: var(--light-red²);
    color: var(--light-red);
    border-radius: 10px;
}

.skills:nth-child(2) {
    background-color: var(--orangey-yellow²);
    color: var(--orangey-yellow);
    border-radius: 10px;
}

.skills:nth-child(3) {
    background-color: var(--grean-teal²);
    color: var(--grean-teal);
    border-radius: 10px;
}

.skills:nth-child(4) {
    background-color: var(--cobalt-blue²);
    color: var(--cobalt-blue);
    border-radius: 10px;
}

span {
    margin: 10px;
    display: flex;
    align-items: center;
}

div span:nth-child(2) {
    font-size: 16px;
    color: #999999;
}

img {
    margin-left: 5px;
    margin-right: 10px;
}

.accentuation {
    color: var(--dark-gray-blue);
    font-weight: 800;
}

button {
    margin-bottom: 40px;
    width: calc(100% - 80px);
    height: 50px;
    border: none;
    background-color: var(--dark-gray-blue);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
}

button:hover {
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .component {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .subsection {
        width: 100%;
    }

    .subsection:nth-child(1) {
        border-radius: 0px 0px 25px 25px;
        height: 45%;
    }

    .result-title {
        font-size: 18px;
        margin: 20px;
    }

    h2 {
        margin-top: 15px;
        font-size: 24px;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .dark-h4 {
        width: calc(100% - 80px);
        font-size: 18px;
    }

    ul {
        box-sizing: border-box;
        width: calc(100% - 80px);
    }

    .skills {
        width: 100%;
    }
}